.måløv {
  margin-bottom: 24px;
}

.row > ul {
  display: flex;
}

.row > ul > li {
  margin-right: 12px;
  width: 15%;
}

.row > ul > li:nth-child(3) {
  flex-grow: 1;
}

.row > ul > li:nth-child(4) {
  width: 12%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.row {
  margin-bottom: 6px;
}

form {
  margin-bottom: 24px;
}

form > div {
  margin-bottom: 12px;
}

.stations > ul {
  margin-bottom: 24px;
}

.stations > p {
  margin-top: 0px;
  margin-bottom: 6px;
}
